html, body {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
}

.container {
	width: 940px;
	margin: 0 auto;
}

/* Header */
.header {
	background-color: #30627E;
	height: 80px;
	font-size: 20px;
	text-align: center;
}

.header ul,
.header li,
.header a {
	margin: 0;
	padding: 0;
}

.header li {
	display: inline-block;
}

.header a {
	display: block;
	padding: 28px 38px;
	text-decoration: none;
	color: #fff;
}

.header a:hover {
	background-color: #E52364;
	font-size: 28px;
	padding: 20px 26px;
	max-height: 80px;
}

/* Jumbotron */
.jumbotron {
	background: url("images/bg.jpg") no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 480px;
	color: #E52364;
}

/* Supporting */
.supporting {
	margin: 60px 0;
}

.supporting .btn {
	padding: 10px 80px;
	border: 1px solid #30627E;
	border-radius: 0;
	margin-top: 20px;
}

/* Footer */
.footer {
	background-color: #E52364;
	padding: 26px 0;
	color: #fff;
}

.footer li {
	display: inline;
	margin: 0 20px;
}

.footer a {
	text-decoration: none;
	color: #fff;
}